@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Festive&family=Roboto:wght@100&family=Yanone+Kaffeesatz&display=swap');
body {
  width: 100%;
  height: 100vh;
}
#header{
  background-image: url(simple.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
form {

  display: inline-block;
}
input[type=text]{
  width: 150%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing:initial;
  resize: vertical;
}
label{
  color:black;
}
.container{
  margin-left: 390px;
  margin-top: 200px;
}
/* pentru bara de jos*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
footer{
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  background: black;
  height: 20%;
  width: 100%;
    font-family: 'Bebas Neue', cursive;
  color: yellow;
  padding: 10px 0;
  opacity: 75%;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 100px;
}
.socials li{
  margin: 0 30 px;
}
.socials a{
  text-decoration: none;
  color: white;
}
.socials a i{
  font-size: 25px;;
  transition: color .4s ease;
  padding: 5px;
}
.socials a:hover i{
  color:blue;
}

/*aici e numele meu @antrenor personal*/
.footer-bottom{
  background: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 10px;
  text-transform: capitalize;
}
